In [5]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

total_data = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/linear-regression-project-tutorial/main/medical_insurance_cost.csv")
total_data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [8]:
total_data["sex_n"] = pd.factorize(total_data["sex"])[0]
total_data["smoker_n"] = pd.factorize(total_data["smoker"])[0]
total_data["region_n"] = pd.factorize(total_data["region"])[0]
num_variables = ["age", "bmi", "children", "sex_n", "smoker_n", "region_n", "charges"]
num_database = pd.DataFrame(total_data[num_variables], index = total_data.index, columns = num_variables)

X = num_database
y = num_database["charges"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

X_train.to_csv("clean_train.csv", index = False)
X_test.to_csv("clean_test.csv", index = False)

train_data = pd.read_csv("clean_train.csv")
test_data = pd.read_csv("clean_test.csv")

scaler = MinMaxScaler()
scal_features_test = scaler.fit_transform(test_data[num_variables])
total_data_scal_test = pd.DataFrame(scal_features_test, index = test_data.index, columns = num_variables)
total_data_scal_test.head()

        age       bmi  children  sex_n  smoker_n  region_n   charges
0  0.586957  0.233748       0.4    0.0       1.0  1.000000  0.127134
1  0.391304  0.369216       0.0    0.0       1.0  0.666667  0.066104
2  1.000000  0.281560       0.0    0.0       0.0  0.666667  0.450191
3  0.608696  0.249685       0.6    1.0       1.0  0.666667  0.130436
4  0.021739  0.422340       0.0    1.0       0.0  0.666667  0.520743

In [9]:
scal_features_train = scaler.fit_transform(train_data[num_variables])
total_data_scal_train = pd.DataFrame(scal_features_train, index = train_data.index, columns = num_variables)
total_data_scal_train.head()

        age       bmi  children  sex_n  smoker_n  region_n   charges
0  0.608696  0.107345       0.4    0.0       1.0  0.666667  0.131313
1  0.630435  0.224913       0.0    0.0       1.0  1.000000  0.120590
2  0.739130  0.239440       0.0    0.0       1.0  0.333333  0.422901
3  0.456522  0.493947       1.0    0.0       1.0  0.333333  0.121601
4  0.782609  0.148238       0.6    0.0       1.0  0.666667  0.184696

In [10]:
X_train = total_data_scal_train.drop(["charges"], axis = 1)
y_train = total_data_scal_train["charges"]
X_test = total_data_scal_test.drop(["charges"], axis = 1)
y_test = total_data_scal_test["charges"]

model = LinearRegression()
model.fit(X_train, y_train)

print(f"Intercept (a): {model.intercept_}")
print(f"Coefficients (b1, b2): {model.coef_}")

Intercept (a): 0.3213152613903446
Coefficients (b1, b2): [ 1.92360435e-01  2.03038802e-01  3.45765858e-02 -3.05696295e-04
 -3.84698775e-01  1.32396221e-02]

In [11]:
y_pred = model.predict(X_test)
y_pred

array([ 1.24053884e-01,  9.56794915e-02,  5.79669753e-01,  1.33667950e-01,
        4.19769192e-01,  1.58219283e-01, -1.80163075e-02,  2.57226098e-01,
       -5.62981897e-03,  1.62932035e-01,  4.34996735e-01,  1.33349077e-01,
        6.64682405e-02,  6.08220520e-01,  6.37900902e-01,  5.86128295e-01,
        2.31330787e-01,  5.66404747e-01,  1.28815348e-01,  4.91853033e-01,
        4.03813385e-02,  1.44296980e-01,  1.76149242e-02,  9.70979091e-02,
        1.64183576e-01,  1.90465060e-01,  2.16054330e-01,  8.09469753e-02,
        1.40507142e-01,  1.63703564e-02,  1.27153882e-01,  1.93743242e-01,
        5.60736271e-02,  3.41673090e-02,  5.15316714e-02,  1.92972430e-01,
        1.04913345e-02,  1.22359391e-01,  5.20763883e-01,  5.11981670e-01,
        4.22785612e-02,  5.12950756e-02,  2.10216571e-01,  1.65666778e-01,
        1.24775330e-01,  1.75336812e-01,  6.72779577e-02,  2.91272105e-02,
        5.59455854e-01,  1.31399179e-01,  2.39825213e-01,  1.89143643e-02,
        1.84039889e-01,  2.40351546e-03,  1.99631240e-01,  1.84027099e-01,
        4.88092768e-02,  5.04718379e-01,  1.96336783e-01,  1.89519216e-01,
        2.09865393e-01,  1.54375455e-01,  2.46353359e-01,  1.06016796e-01,
        1.71854533e-01,  4.59501726e-02,  4.11656447e-01,  1.58063686e-01,
        1.39895011e-02,  8.18210981e-02,  1.54975303e-01,  1.68684436e-01,
        1.60238220e-01,  1.30507166e-01,  1.76973175e-01,  9.06985817e-02,
        9.74587862e-02,  1.54505864e-01,  8.85604646e-02,  1.20710017e-01,
        4.28435636e-02,  5.74335132e-01,  8.27077713e-02,  4.82011594e-01,
        5.52103886e-01,  5.53277288e-01,  9.54154367e-02,  1.90467222e-01,
        1.42557588e-01,  2.15737883e-01,  2.68490774e-01,  5.53144533e-01,
        5.15594013e-01,  7.92259595e-02,  5.02558788e-01,  1.33662672e-01,
        4.59659729e-01,  4.12758416e-02,  4.39899462e-01,  7.25286853e-02,
        6.83359217e-02,  9.40508284e-03,  1.70002068e-01,  2.25444616e-01,
        1.68196453e-01,  5.20114205e-02,  1.42048818e-01,  4.94974620e-01,
       -2.40230363e-02,  5.13436143e-01,  3.29428919e-02,  1.49786103e-01,
        2.12489419e-01,  4.94129642e-01,  1.65685287e-01,  4.34722551e-02,
        1.92059208e-01,  4.95807003e-01,  1.13706747e-01,  3.28254941e-02,
        1.16981310e-01,  1.53843137e-01,  2.28291240e-01,  7.39334313e-02,
        4.10005074e-02,  1.47677025e-01,  1.59358722e-01,  1.59986417e-01,
        2.16853491e-01,  1.04097684e-01,  6.83513325e-02,  1.31935999e-01,
        1.34068996e-01,  1.84649048e-01,  1.15180452e-01,  2.29836253e-01,
        1.16904213e-01,  4.96223107e-01,  5.64528089e-01,  4.93287762e-01,
        7.78820179e-02,  1.84930940e-01,  7.97990375e-02,  2.19024176e-01,
        2.06636862e-02,  5.14347071e-01,  8.20976145e-02,  6.07214708e-02,
        2.15285936e-01,  9.20059211e-02,  6.11044796e-01,  3.05304123e-02,
        7.88176322e-02,  4.95168161e-01,  1.70822535e-01,  1.17850057e-01,
        2.20377448e-01,  1.40490769e-01,  4.22417341e-01,  5.23768293e-01,
        2.16168832e-01,  7.23580061e-03,  1.92374524e-01,  1.41438629e-02,
        6.81450277e-02,  1.70529213e-01,  6.28058616e-01,  5.74666795e-01,
        5.32405527e-01,  4.24434094e-02,  9.86274669e-02,  1.20392662e-01,
        1.84061460e-01,  5.81897221e-02,  1.17316834e-02,  5.02402829e-01,
        3.86985732e-01,  2.67431230e-01,  4.07909964e-01,  1.44665360e-01,
        5.84755069e-01, -3.06833288e-02,  8.89634348e-02,  1.06296349e-01,
        4.86546408e-02,  6.43746169e-02,  7.52728102e-02,  4.85918871e-02,
        2.31039319e-01,  1.61344084e-01,  9.31239380e-02,  1.99673680e-02,
        2.71736723e-03,  4.99819765e-01,  2.49700642e-01,  1.77154775e-01,
        2.24674648e-04,  1.82722999e-01,  3.78784652e-03,  1.20305106e-01,
        9.63798038e-03,  5.31879661e-01,  1.60314487e-01,  2.24744996e-02,
        3.97919459e-01,  4.08411400e-01,  1.33424215e-01,  8.26376373e-03,
        1.98649835e-01, -4.57301161e-03,  1.46336887e-01,  1.51709090e-01,
        2.58211122e-01,  4.17037883e-01,  9.28492399e-02,  6.31372250e-02,
        7.57015617e-02,  1.95759768e-01,  1.60461382e-01,  1.17786588e-01,
        6.53123057e-02,  1.82759522e-01,  2.09615972e-01,  5.64405519e-01,
        4.86942975e-02,  4.51629236e-01, -3.77142253e-02,  2.75199736e-02,
        1.60658904e-01,  2.38292221e-01,  6.70084404e-02,  9.04517301e-02,
        4.06419952e-02,  4.87915400e-01,  9.62514308e-02,  1.84097401e-01,
        7.22408002e-02,  1.34800134e-01,  5.73643395e-01,  5.37049518e-02,
        1.34118627e-01,  4.86914647e-01,  7.50281741e-02,  5.57964130e-02,
       -3.22111714e-03,  5.94888006e-02,  5.29236193e-02,  8.51377005e-02,
        2.87727477e-01, -4.69058251e-02,  1.75607490e-02,  1.53995019e-01,
        2.94420423e-02,  1.43685394e-01,  4.17521131e-02,  6.47285924e-02,
        1.80551078e-01,  8.25836392e-02,  1.11543661e-01,  1.02626494e-01,
        1.25601994e-01,  1.49527372e-01,  4.33084614e-01,  6.17349092e-01,
        1.71498439e-01,  1.03740152e-01,  6.49960000e-01,  1.80224587e-01])

In [12]:
print(f"Mean squared error: {mean_squared_error(y_test, y_pred)}")
print(f"Coefficient of determination: {r2_score(y_test, y_pred)}")

Mean squared error: 0.008584313423077833
Coefficient of determination: 0.7830468064321546